[submodule "lain"]
	path = lain
	url = git://github.com/lcpz/lain.git

[submodule "freedesktop"]
	path = freedesktop
	url = git://github.com/lcpz/awesome-freedesktop.git

[submodule "net_widgets"]
	path = net_widgets
	url = git@github.com:pltanton/net_widgets.git
[submodule "bling"]
	path = bling
	url = git@github.com:Nooo37/bling.git
[submodule "revelation"]
	path = revelation
	url = git@github.com:thiru/awesome-revelation.git
